docs/_build/*
docs/.DS_Store
packer/build.hwm
packer/build.pwd
packer/build.pwi
packer/debian85.box
packer/packer_cache/
version.hwm
version.pwd
version.pwi
packer/files.zip
packer/upload/*
builder/lib/*
builder/bin/*
builder/local/*
builder/share/*
builder/packer/output-virtualbox-iso/*
